{% extends 'jumia/base.html' %}
{% block title%} products {% endblock %}

{% block content %}
<h2 class="text-center py-4 text-5xl font-bold"> Newest items</h2>
<div class="flex flex-wrap">
    {% for item in type %}
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
      <div class="bg-white rounded-lg shadow-md">
       <a href="{% url 'jumia:detail' item.id %}">
        <div class="p-4">
          <img src="{{item.image.url}}" alt="Product 1" class="w-full h-auto rounded-md mb-4">
          <h2 class="text-lg font-semibold text-gray-800 mb-2">{{item.name}}</h2>
          <p class="text-sm text-gray-600">Price: sh.{{item.price}}</p>
        </div>
       </a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}