{% extends 'user/base.html' %}

{% block title %}Sell{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-300  rounded-xl">
    <h1 class="mb-6 text-4xl text-center">Sell a product</h1>

    <form method="post" action=".">
        {% csrf_token %}
        {{form.as_p}}
        
        
        <a href="{% url 'user:sell_details' %}">
            <button class="py-4 px-8 text-lg bg-green-500 hover:bg-green-700 rounded-xl text-white">Next</button>
        </a>
    </form>
</div>
{% endblock %}